###### ---0. Libraries---

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from IPython.display import display, HTML
import matplotlib.pyplot as plt

In [2]:
import warnings
warnings.filterwarnings("ignore")

In [3]:
df=pd.read_csv('data/attacks.csv',encoding='cp1252')

In [4]:
df2=pd.read_csv('data/attacks.csv',encoding='cp1252') #First copy of de df

# 1. EXPLORATION

Hereby, we will analise which kind of type of data we are facing with, nº columns, null values, duplicated values, unwanted whitespaces, etc.

### 1.1 Dimensions of the df

In [5]:
df2.shape

(25723, 24)

### 1.2 Head of the df

#### Quick overview of the columns and some data

In [6]:
df2.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [7]:
df2.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

### 1.3 Data types

In [8]:
pd.set_option('display.max_rows', 30)
df2.dtypes

Case Number                object
Date                       object
Year                      float64
Type                       object
Country                    object
Area                       object
Location                   object
Activity                   object
Name                       object
Sex                        object
Age                        object
Injury                     object
Fatal (Y/N)                object
Time                       object
Species                    object
Investigator or Source     object
pdf                        object
href formula               object
href                       object
Case Number.1              object
Case Number.2              object
original order            float64
Unnamed: 22                object
Unnamed: 23                object
dtype: object

In [9]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

### 1.4 Duplicated data

#### 1.4.1. Columns:

After having seen the header, we realised that are some columns that potentially can be repeated:

    - Case Number vs. Case Number.1 and Case Number.2
    - Unnamed 22 and unnamed 23
    - href and href formula

In [10]:
if df2['Case Number.1'].equals(df2['Case Number.2']):
    print('The CN 1 and CN2  have the same values')
else:
    print("They are not equals")

They are not equals

In [11]:
if df2['Case Number.1'].equals(df2['Case Number']):
    print('The CN 1 and CS  have the same values')
else:
    print("They are not equals")

They are not equals

In [12]:
if df2['Case Number.2'].equals(df2['Case Number']):
    print('The CN 1 and CS  have the same values')
else:
    print("They are not equals")

They are not equals

In [13]:
if df2['Unnamed: 22'].equals(df2['Unnamed: 23']):
    print('The Unnamed 22 and Unnamed 23 have the same values')
else:
    print("They are not equals")

They are not equals

In [14]:
if df2['href'].equals(df2['href formula']):
    print('The fh ref and href formula  have the same values')
else:
    print("They are not equals")

They are not equals

#### 1.4.2 Rows

In [15]:
if df.duplicated().any():
    print('There are duplicate rows in the dataframe')
else:
    print('There are no duplicate rows in the dataframe')

There are duplicate rows in the dataframe

There are some others columns date have redundant information as the columns: Case Number, Date, and Year. But for the moment we will keep it.

###  1.5 Nulls

In [16]:
pd.isnull(df2).sum()

Case Number               17021
Date                      19421
Year                      19423
Type                      19425
Country                   19471
Area                      19876
Location                  19961
Activity                  19965
Name                      19631
Sex                       19986
Age                       22252
Injury                    19449
Fatal (Y/N)               19960
Time                      22775
Species                   22259
Investigator or Source    19438
pdf                       19421
href formula              19422
href                      19421
Case Number.1             19421
Case Number.2             19421
original order            19414
Unnamed: 22               25722
Unnamed: 23               25721
dtype: int64

###   -------------------------------------------------- Summary and conclusions--------------------------------------------------------

1. The data it's not clean, there are many missing values, many empty rows and not consistency in the format of the registered information.
2. Before we start with the analysis, we need to clean accurately clean data. We will focus to this points:

    - Clean repeated values in columns and rows
    - Clean data when the content of one row is more than 50% empty
    - Null Values
    
                                                TO TAKE INTO ACCOUNT:
    
     2.1 High presence of null vallues in many of the columns arpund (4000-8000 per column). with this results, it's not            convenient to remove null straight away without doing a deepdive in our data. We will priorize to clean properly the            most important columns for our investigation, such us:
        - 'Date', 'Year', 'Type', 'Country', 'Area', 'Location','Activity', 'Time', 'Species '

     2.2 Even the results are that the Columns of Cane Number, Case Number 1, Case number 2 are not equals, the results              it's  not very conclusive as the data can't be clean and the results could be not accurate and consistent. 
     
     2.3 Columns Unnamed 22 and and Unammed 23 as they don't have any valuable informated, will be discarted of the analysy

# 2. Dataframe Cleaning data

2.1 Remove rows with all the values are null

In [17]:
df_2 = df2.dropna(how='all', axis=0)
df_2

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8698,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8699,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8700,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8701,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
df_3= df_2.drop_duplicates(subset = ["Case Number.1", "Case Number.2"], inplace=False, keep="last")
df_3 # we drop Case Number 1 and 2 as contains the same info

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6298,ND.0004,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,...,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5.0,NaN,NaN
6299,ND.0003,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,...,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4.0,NaN,NaN
6300,ND.0002,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,...,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3.0,NaN,NaN
6301,ND.0001,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,...,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2.0,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
df_4= df_3.drop_duplicates(subset = ["href formula", "href"], inplace=False, keep="first")
df_4 # we drop href and href formula as contains the same info

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6298,ND.0004,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,...,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5.0,NaN,NaN
6299,ND.0003,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,...,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4.0,NaN,NaN
6300,ND.0002,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,...,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3.0,NaN,NaN
6301,ND.0001,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,...,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2.0,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# 3. YEARS - CLEANING DATA


- First, we are going to clean the column year to remove all the null values in year as we are not consider the ones empty.
- As we we are going to considerer null values all the values that ar enot real years as "0, 5, 77, 500".
- We are going to use a function that removes all the values in Year that does not contain 4 digits
- Verify from which year are more attacks reported. With this assumption we check if before 80', maybe, many cases were not reported. With this we will have more accurate data about which is the ocean with more attacaks ommiting data that can make out data scatter- '''

In [20]:
df4 = df_4.dropna(subset=["Year"])
df4

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6297,ND.0005,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,...,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6.0,NaN,NaN
6298,ND.0004,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,...,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5.0,NaN,NaN
6299,ND.0003,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,...,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4.0,NaN,NaN
6300,ND.0002,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,...,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3.0,NaN,NaN
6301,ND.0001,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,...,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2.0,NaN,NaN

Verifying the values in column Year

In [21]:
df4['Year'].unique()

array([2018., 2017., 2016., 2015., 2014., 2013., 2012., 2011., 2010.,
       2009., 2008., 2007., 2006., 2005., 2004., 2003., 2002., 2001.,
       2000., 1999., 1998., 1997., 1996., 1995., 1984., 1994., 1993.,
       1992., 1991., 1990., 1989., 1969., 1988., 1987., 1986., 1985.,
       1983., 1982., 1981., 1980., 1979., 1978., 1977., 1976., 1975.,
       1974., 1973., 1972., 1971., 1970., 1968., 1967., 1966., 1965.,
       1964., 1963., 1962., 1961., 1960., 1959., 1958., 1957., 1956.,
       1955., 1954., 1953., 1952., 1951., 1950., 1949., 1948., 1848.,
       1947., 1946., 1945., 1944., 1943., 1942., 1941., 1940., 1939.,
       1938., 1937., 1936., 1935., 1934., 1933., 1932., 1931., 1930.,
       1929., 1928., 1927., 1926., 1925., 1924., 1923., 1922., 1921.,
       1920., 1919., 1918., 1917., 1916., 1915., 1914., 1913., 1912.,
       1911., 1910., 1909., 1908., 1907., 1906., 1905., 1904., 1903.,
       1902., 1901., 1900., 1899., 1898., 1897., 1896., 1895., 1894.,
       1893., 1892., 1891., 1890., 1889., 1888., 1887., 1886., 1885.,
       1884., 1883., 1882., 1881., 1880., 1879., 1878., 1877., 1876.,
       1875., 1874., 1873., 1872., 1871., 1870., 1869., 1868., 1867.,
       1866., 1865., 1864., 1863., 1862., 1861., 1860., 1859., 1858.,
       1857., 1856., 1855., 1853., 1852., 1851., 1850., 1849., 1847.,
       1846., 1845., 1844., 1842., 1841., 1840., 1839., 1837., 1836.,
       1835., 1834., 1832., 1831., 1830., 1829., 1828., 1827., 1826.,
       1825., 1823., 1822., 1819., 1818., 1817., 1816., 1815., 1812.,
       1811., 1810., 1808., 1807., 1805., 1804., 1803., 1802., 1801.,
       1800., 1797., 1792., 1791., 1788., 1787., 1786., 1785., 1784.,
       1783., 1780., 1779., 1776., 1771., 1767., 1764., 1758., 1753.,
       1751., 1749., 1755., 1748., 1742., 1738., 1733., 1723., 1721.,
       1703., 1700., 1642., 1638., 1637., 1617., 1595., 1580., 1555.,
       1554., 1543.,  500.,   77.,    5.,    0.])

In [22]:
df5 = df4.dropna(subset=["Date"])
df5

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6297,ND.0005,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,...,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6.0,NaN,NaN
6298,ND.0004,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,...,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5.0,NaN,NaN
6299,ND.0003,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,...,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4.0,NaN,NaN
6300,ND.0002,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,...,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3.0,NaN,NaN
6301,ND.0001,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,...,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2.0,NaN,NaN

In [23]:
print(df5['Date'].unique())
pd.set_option('display.max_rows', 10)

['25-Jun-2018' '18-Jun-2018' '09-Jun-2018' ... '1900-1905' '1883-1889'
 '1845-1853']

As the values <1543 seems that they are incorrect, we will check if we can obtain this information from the column Date. In the column date, overall, we can find the exact day month and year of the attack. So, we are going to create extract the year (\4d) from this column to a new column .

In [24]:
df5['New_Year'] = df5['Date'] # create a new column with the same values as the original "Year" column

In [25]:
df5["All_years"] = df5["New_Year"].str.extract("(\d{4})")
df5

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23,New_Year,All_years
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN,25-Jun-2018,2018
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN,18-Jun-2018,2018
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN,09-Jun-2018,2018
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN,08-Jun-2018,2018
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN,04-Jun-2018,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6297,ND.0005,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,...,ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6.0,NaN,NaN,Before 1903,1903
6298,ND.0004,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,...,ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5.0,NaN,NaN,Before 1903,1903
6299,ND.0003,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,...,ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4.0,NaN,NaN,1900-1905,1900
6300,ND.0002,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,...,ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3.0,NaN,NaN,1883-1889,1883
6301,ND.0001,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,...,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2.0,NaN,NaN,1845-1853,1845

In [26]:
df6 = df5.dropna(subset=["All_years"])
df6

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23,New_Year,All_years
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN,25-Jun-2018,2018
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN,18-Jun-2018,2018
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN,09-Jun-2018,2018
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN,08-Jun-2018,2018
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN,04-Jun-2018,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6297,ND.0005,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,...,ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6.0,NaN,NaN,Before 1903,1903
6298,ND.0004,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,...,ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5.0,NaN,NaN,Before 1903,1903
6299,ND.0003,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,...,ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4.0,NaN,NaN,1900-1905,1900
6300,ND.0002,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,...,ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3.0,NaN,NaN,1883-1889,1883
6301,ND.0001,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,...,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2.0,NaN,NaN,1845-1853,1845

In [27]:
print(df6['All_years'].unique()) # verifying the extraction

['2018' '2017' '2016' '2015' '2014' '2013' '2012' '2011' '2008' '2010'
 '2009' '2006' '2007' '2005' '2004' '2003' '2002' '2001' '2000' '1999'
 '1998' '1997' '1996' '1995' '1984' '1994' '1993' '1992' '1991' '1990'
 '1989' '1988' '1987' '1986' '1985' '1983' '1982' '1981' '1980' '1979'
 '1978' '1977' '1976' '1975' '1974' '1973' '1972' '1971' '1970' '1969'
 '1968' '1967' '1966' '1965' '1964' '1954' '1963' '1962' '1961' '1960'
 '1959' '2176' '1958' '1957' '1956' '1955' '1953' '1952' '1951' '1950'
 '1949' '1948' '1848' '1947' '1946' '1945' '1944' '1943' '1942' '1941'
 '1940' '1939' '1938' '1937' '1936' '1935' '1934' '1933' '1932' '1931'
 '1930' '1929' '1928' '1927' '1926' '1925' '1924' '1923' '1922' '1921'
 '1920' '1919' '1918' '1917' '1916' '1915' '1914' '1913' '1912' '1911'
 '1910' '1909' '1908' '1907' '1906' '1905' '1904' '1903' '1902' '1901'
 '1900' '1899' '1898' '1897' '1896' '1895' '1894' '1893' '1892' '1891'
 '1890' '1889' '1888' '1887' '1886' '1885' '1884' '1883' '1882' '1881'
 '1880' '1879' '1878' '1877' '1876' '1875' '1874' '1870' '1873' '1872'
 '1871' '1869' '1868' '1867' '1866' '1865' '1864' '1863' '1862' '1861'
 '1860' '1859' '1858' '1857' '1856' '1855' '1853' '1852' '1850' '1851'
 '1849' '1847' '1846' '1845' '1844' '1842' '1841' '1840' '1839' '1837'
 '1836' '1835' '1834' '1832' '1831' '1830' '1829' '1828' '1827' '1826'
 '1820' '1825' '1823' '1822' '1819' '1818' '1817' '1816' '1815' '1812'
 '1811' '1810' '1808' '1807' '1806' '1805' '1804' '1803' '1802' '1801'
 '1800' '1797' '1792' '1791' '1788' '1787' '1786' '1785' '1784' '1783'
 '1780' '1779' '1776' '1771' '1767' '1764' '1758' '1753' '1751' '1749'
 '1755' '1748' '1742' '1738' '1733' '1723' '1721' '1703' '1700' '1600'
 '1638' '1637' '1617' '1642' '1595' '1580' '1555' '1554' '1543']

Once we have all the years in teh column All years, we want extract this years to the column Years when the value is <1542 as they are the incorrect ones.

In [28]:
df6['Year'] = df6['Year'].astype(int)
df6['All_years'] = df6['All_years'].astype(int)
df6.loc[df4['Year'] < 1542, 'Year'] = df6.loc[df4['Year'] < 1542, 'All_years']
df6

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23,New_Year,All_years
0,2018.06.25,25-Jun-2018,2018,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN,25-Jun-2018,2018
1,2018.06.18,18-Jun-2018,2018,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN,18-Jun-2018,2018
2,2018.06.09,09-Jun-2018,2018,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN,09-Jun-2018,2018
3,2018.06.08,08-Jun-2018,2018,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN,08-Jun-2018,2018
4,2018.06.04,04-Jun-2018,2018,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN,04-Jun-2018,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6297,ND.0005,Before 1903,1903,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,...,ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6.0,NaN,NaN,Before 1903,1903
6298,ND.0004,Before 1903,1903,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,...,ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5.0,NaN,NaN,Before 1903,1903
6299,ND.0003,1900-1905,1900,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,...,ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4.0,NaN,NaN,1900-1905,1900
6300,ND.0002,1883-1889,1883,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,...,ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3.0,NaN,NaN,1883-1889,1883
6301,ND.0001,1845-1853,1845,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,...,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2.0,NaN,NaN,1845-1853,1845

In [29]:
print(df6['Year'].unique()) # verifying the extraction

[2018 2017 2016 2015 2014 2013 2012 2011 2010 2009 2008 2007 2006 2005
 2004 2003 2002 2001 2000 1999 1998 1997 1996 1995 1984 1994 1993 1992
 1991 1990 1989 1969 1988 1987 1986 1985 1983 1982 1981 1980 1979 1978
 1977 1976 1975 1974 1973 1972 1971 1970 1968 1967 1966 1965 1964 1963
 1962 1961 1960 1959 1958 1957 1956 1955 1954 1953 1952 1951 1950 1949
 1948 1848 1947 1946 1945 1944 1943 1942 1941 1940 1939 1938 1937 1936
 1935 1934 1933 1932 1931 1930 1929 1928 1927 1926 1925 1924 1923 1922
 1921 1920 1919 1918 1917 1916 1915 1914 1913 1912 1911 1910 1909 1908
 1907 1906 1905 1904 1903 1902 1901 1900 1899 1898 1897 1896 1895 1894
 1893 1892 1891 1890 1889 1888 1887 1886 1885 1884 1883 1882 1881 1880
 1879 1878 1877 1876 1875 1874 1873 1872 1871 1870 1869 1868 1867 1866
 1865 1864 1863 1862 1861 1860 1859 1858 1857 1856 1855 1853 1852 1851
 1850 1849 1847 1846 1845 1844 1842 1841 1840 1839 1837 1836 1835 1834
 1832 1831 1830 1829 1828 1827 1826 1825 1823 1822 1819 1818 1817 1816
 1815 1812 1811 1810 1808 1807 1805 1804 1803 1802 1801 1800 1797 1792
 1791 1788 1787 1786 1785 1784 1783 1780 1779 1776 1771 1767 1764 1758
 1753 1751 1749 1755 1748 1742 1738 1733 1723 1721 1703 1700 1642 1638
 1637 1617 1595 1580 1555 1554 1543]

In [30]:
df6.Year.value_counts()

Year
2015    143
2017    136
2016    131
2011    130
2014    126
       ...
1788      1
1787      1
1786      1
1785      1
1543      1
Name: count, Length: 245, dtype: int64

In [31]:
df6.Year.value_counts().sort_index()

Year
1543      1
1554      1
1555      1
1580      1
1595      1
       ...
2014    126
2015    143
2016    131
2017    136
2018     53
Name: count, Length: 245, dtype: int64

----------------------------------------year cleaning data finished------------------------------------------------------------

# 4. COUNTRIES - CLEANING DATA


    First, we are going to verify which kind of data we are facing with:
   
       - Null values? Can we get this data from anywhere else?
       - Type Values
       - Typo values?

In [32]:
print(df6['Country'].unique())

['USA' 'AUSTRALIA' 'MEXICO' 'BRAZIL' 'ENGLAND' 'SOUTH AFRICA' 'THAILAND'
 'COSTA RICA' 'MALDIVES' 'BAHAMAS' 'NEW CALEDONIA' 'ECUADOR' 'MALAYSIA'
 'LIBYA' nan 'CUBA' 'MAURITIUS' 'NEW ZEALAND' 'SPAIN' 'SAMOA'
 'SOLOMON ISLANDS' 'JAPAN' 'EGYPT' 'ST HELENA, British overseas territory'
 'COMOROS' 'REUNION' 'FRENCH POLYNESIA' 'UNITED KINGDOM'
 'UNITED ARAB EMIRATES' 'PHILIPPINES' 'INDONESIA' 'CHINA' 'COLUMBIA'
 'CAPE VERDE' 'Fiji' 'DOMINICAN REPUBLIC' 'CAYMAN ISLANDS' 'ARUBA'
 'MOZAMBIQUE' 'FIJI' 'PUERTO RICO' 'ITALY' 'ATLANTIC OCEAN' 'GREECE'
 'ST. MARTIN' 'FRANCE' 'PAPUA NEW GUINEA' 'TRINIDAD & TOBAGO' 'KIRIBATI'
 'ISRAEL' 'DIEGO GARCIA' 'TAIWAN' 'JAMAICA' 'PALESTINIAN TERRITORIES'
 'GUAM' 'SEYCHELLES' 'BELIZE' 'NIGERIA' 'TONGA' 'SCOTLAND' 'CANADA'
 'CROATIA' 'SAUDI ARABIA' 'CHILE' 'ANTIGUA' 'KENYA' 'RUSSIA'
 'TURKS & CAICOS' 'UNITED ARAB EMIRATES (UAE)' 'AZORES' 'SOUTH KOREA'
 'MALTA' 'VIETNAM' 'MADAGASCAR' 'PANAMA' 'SOMALIA' 'NEVIS'
 'BRITISH VIRGIN ISLANDS' 'NORWAY' 'SENEGAL' 'YEMEN' 'GULF OF ADEN'
 'Sierra Leone' 'ST. MAARTIN' 'GRAND CAYMAN' 'Seychelles' 'LIBERIA'
 'VANUATU' 'MEXICO ' 'HONDURAS' 'VENEZUELA' 'SRI LANKA' ' TONGA' 'URUGUAY'
 'INDIA' 'MICRONESIA' 'CARIBBEAN SEA' 'OKINAWA' 'TANZANIA'
 'MARSHALL ISLANDS' 'EGYPT / ISRAEL' 'NORTHERN ARABIAN SEA' 'HONG KONG'
 'EL SALVADOR' 'ANGOLA' 'BERMUDA' 'MONTENEGRO' 'IRAN' 'TUNISIA' 'NAMIBIA'
 'NORTH ATLANTIC OCEAN' 'PORTUGAL' 'SOUTH CHINA SEA' 'BANGLADESH' 'PALAU'
 'WESTERN SAMOA' 'PACIFIC OCEAN ' 'BRITISH ISLES' 'GRENADA' 'IRAQ'
 'TURKEY' 'NEW BRITAIN' 'SUDAN' 'JOHNSTON ISLAND' 'SOUTH PACIFIC OCEAN'
 'NEW GUINEA' 'RED SEA' 'NORTH PACIFIC OCEAN'
 'FEDERATED STATES OF MICRONESIA' 'MID ATLANTIC OCEAN' 'ADMIRALTY ISLANDS'
 'BRITISH WEST INDIES' 'SOUTH ATLANTIC OCEAN' 'PERSIAN GULF'
 'RED SEA / INDIAN OCEAN' 'PACIFIC OCEAN' 'NORTH SEA' 'NICARAGUA '
 'MALDIVE ISLANDS' 'AMERICAN SAMOA' 'ANDAMAN / NICOBAR ISLANDAS' 'GABON'
 'MAYOTTE' 'NORTH ATLANTIC OCEAN ' 'SINGAPORE' 'THE BALKANS' 'SUDAN?'
 'ARGENTINA' 'MARTINIQUE' 'INDIAN OCEAN' 'GUATEMALA'
 'NETHERLANDS ANTILLES' 'NORTHERN MARIANA ISLANDS' 'IRAN / IRAQ' 'JAVA'
 'SIERRA LEONE' ' PHILIPPINES' 'NICARAGUA' 'CENTRAL PACIFIC'
 'SOLOMON ISLANDS / VANUATU' 'SOUTHWEST PACIFIC OCEAN' 'BAY OF BENGAL'
 'MID-PACIFC OCEAN' 'SLOVENIA' 'CURACAO' 'ICELAND' 'ITALY / CROATIA'
 'BARBADOS' 'MONACO' 'GUYANA' 'HAITI' 'SAN DOMINGO' 'IRELAND' 'KUWAIT'
 'YEMEN ' 'REUNION ISLAND' 'FALKLAND ISLANDS' 'CRETE' 'CYPRUS' 'EGYPT '
 'WEST INDIES' 'BURMA' 'LEBANON' 'PARAGUAY' 'BRITISH NEW GUINEA' 'CEYLON'
 'OCEAN' 'GEORGIA' 'TUVALU' 'INDIAN OCEAN?' 'GUINEA' 'ANDAMAN ISLANDS'
 'EQUATORIAL GUINEA / CAMEROON' 'COOK ISLANDS' 'TOBAGO' 'PERU' 'AFRICA'
 'ALGERIA' 'Coast of AFRICA' 'TASMAN SEA' 'GHANA' 'GREENLAND'
 'MEDITERRANEAN SEA' 'SWEDEN' 'ROATAN' 'Between PORTUGAL & INDIA'
 'DJIBOUTI' 'BAHREIN' 'KOREA' 'RED SEA?' 'ASIA?' 'CEYLON (SRI LANKA)']

#### Findings:
    - Null values
    - 2 countries in the same cell
    - Oceans instead of Countries --> ACTION TO BE TAKEN: try to find this information in other columns as Area or Location
    - Regions instead of countres
    - Most of the valeus are in uppercase but there are some in lower.

In [33]:
print(df6['Country'].dtype)

object

In [34]:
n_nulls = df6['Country'].isnull().sum() #48 null values
print(n_nulls)

48

For the values that are null in Country, we try to see if there is information in the column Area in order to move these data to Country

In [35]:
df6.loc[df6['Country'].isnull(), 'Country'] = df6['Area'] 
df6

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23,New_Year,All_years
0,2018.06.25,25-Jun-2018,2018,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN,25-Jun-2018,2018
1,2018.06.18,18-Jun-2018,2018,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN,18-Jun-2018,2018
2,2018.06.09,09-Jun-2018,2018,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN,09-Jun-2018,2018
3,2018.06.08,08-Jun-2018,2018,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN,08-Jun-2018,2018
4,2018.06.04,04-Jun-2018,2018,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN,04-Jun-2018,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6297,ND.0005,Before 1903,1903,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,...,ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6.0,NaN,NaN,Before 1903,1903
6298,ND.0004,Before 1903,1903,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,...,ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5.0,NaN,NaN,Before 1903,1903
6299,ND.0003,1900-1905,1900,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,...,ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4.0,NaN,NaN,1900-1905,1900
6300,ND.0002,1883-1889,1883,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,...,ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3.0,NaN,NaN,1883-1889,1883
6301,ND.0001,1845-1853,1845,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,...,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2.0,NaN,NaN,1845-1853,1845

In [36]:
n_nulls = df6['Country'].isnull().sum() #still  35 null values
print(n_nulls)

35

We are going to do the same but trying to find information in the column "Location":

In [37]:
df6.loc[df6['Country'].isnull(), 'Country'] = df6['Location']
df6

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23,New_Year,All_years
0,2018.06.25,25-Jun-2018,2018,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN,25-Jun-2018,2018
1,2018.06.18,18-Jun-2018,2018,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN,18-Jun-2018,2018
2,2018.06.09,09-Jun-2018,2018,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN,09-Jun-2018,2018
3,2018.06.08,08-Jun-2018,2018,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN,08-Jun-2018,2018
4,2018.06.04,04-Jun-2018,2018,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN,04-Jun-2018,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6297,ND.0005,Before 1903,1903,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,...,ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6.0,NaN,NaN,Before 1903,1903
6298,ND.0004,Before 1903,1903,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,...,ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5.0,NaN,NaN,Before 1903,1903
6299,ND.0003,1900-1905,1900,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,...,ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4.0,NaN,NaN,1900-1905,1900
6300,ND.0002,1883-1889,1883,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,...,ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3.0,NaN,NaN,1883-1889,1883
6301,ND.0001,1845-1853,1845,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,...,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2.0,NaN,NaN,1845-1853,1845

In [38]:
n_nulls2 = df6['Country'].isnull().sum() #29 null values. 
print(n_nulls2)

29

As we can no get the location from another column, we assume all these values as nulls to our investigation as they don't have consistency.

In [39]:
df7 = df6.dropna(subset=["Country"])
df7

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23,New_Year,All_years
0,2018.06.25,25-Jun-2018,2018,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN,25-Jun-2018,2018
1,2018.06.18,18-Jun-2018,2018,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN,18-Jun-2018,2018
2,2018.06.09,09-Jun-2018,2018,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN,09-Jun-2018,2018
3,2018.06.08,08-Jun-2018,2018,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN,08-Jun-2018,2018
4,2018.06.04,04-Jun-2018,2018,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN,04-Jun-2018,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6297,ND.0005,Before 1903,1903,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,...,ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6.0,NaN,NaN,Before 1903,1903
6298,ND.0004,Before 1903,1903,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,...,ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5.0,NaN,NaN,Before 1903,1903
6299,ND.0003,1900-1905,1900,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,...,ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4.0,NaN,NaN,1900-1905,1900
6300,ND.0002,1883-1889,1883,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,...,ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3.0,NaN,NaN,1883-1889,1883
6301,ND.0001,1845-1853,1845,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,...,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2.0,NaN,NaN,1845-1853,1845

In [40]:
n_nulls3 = df7['Country'].isnull().sum() #0 null values
print(n_nulls3)

0

In [41]:
print(df7['Country'].unique())

['USA' 'AUSTRALIA' 'MEXICO' 'BRAZIL' 'ENGLAND' 'SOUTH AFRICA' 'THAILAND'
 'COSTA RICA' 'MALDIVES' 'BAHAMAS' 'NEW CALEDONIA' 'ECUADOR' 'MALAYSIA'
 'LIBYA' 'CUBA' 'MAURITIUS' 'NEW ZEALAND' 'SPAIN' 'SAMOA'
 'SOLOMON ISLANDS' 'JAPAN' 'EGYPT' 'ST HELENA, British overseas territory'
 'COMOROS' 'REUNION' 'FRENCH POLYNESIA' 'UNITED KINGDOM'
 'UNITED ARAB EMIRATES' 'PHILIPPINES' 'INDONESIA' 'CHINA' 'COLUMBIA'
 'CAPE VERDE' 'Fiji' 'DOMINICAN REPUBLIC' 'CAYMAN ISLANDS' 'ARUBA'
 'MOZAMBIQUE' 'FIJI' 'PUERTO RICO' 'ITALY' 'ATLANTIC OCEAN' 'GREECE'
 'ST. MARTIN' 'FRANCE' 'PAPUA NEW GUINEA' 'TRINIDAD & TOBAGO' 'KIRIBATI'
 'ISRAEL' 'DIEGO GARCIA' 'TAIWAN' 'JAMAICA' 'PALESTINIAN TERRITORIES'
 'GUAM' 'SEYCHELLES' 'BELIZE' 'NIGERIA' 'TONGA' 'SCOTLAND' 'CANADA'
 'CROATIA' 'SAUDI ARABIA' 'CHILE' 'ANTIGUA' 'KENYA' 'RUSSIA'
 'TURKS & CAICOS' 'UNITED ARAB EMIRATES (UAE)' 'AZORES' 'SOUTH KOREA'
 'MALTA' 'VIETNAM' 'MADAGASCAR' 'PANAMA' 'SOMALIA' 'NEVIS'
 'BRITISH VIRGIN ISLANDS' 'NORWAY' 'SENEGAL' 'YEMEN' 'GULF OF ADEN'
 'Sierra Leone' 'ST. MAARTIN' 'GRAND CAYMAN' 'Seychelles' 'LIBERIA'
 'VANUATU' 'MEXICO ' 'HONDURAS' 'VENEZUELA' 'SRI LANKA' ' TONGA' 'URUGUAY'
 'INDIA' 'MICRONESIA' 'CARIBBEAN SEA' 'OKINAWA' 'TANZANIA'
 'MARSHALL ISLANDS' 'EGYPT / ISRAEL' 'NORTHERN ARABIAN SEA' 'HONG KONG'
 'EL SALVADOR' 'ANGOLA' 'BERMUDA' 'MONTENEGRO' 'IRAN' 'English Channel'
 'TUNISIA' 'NAMIBIA' 'NORTH ATLANTIC OCEAN' 'PORTUGAL' 'SOUTH CHINA SEA'
 'BANGLADESH' 'PALAU' 'WESTERN SAMOA' 'PACIFIC OCEAN ' 'BRITISH ISLES'
 'Caribbean Sea' 'GRENADA' 'IRAQ' 'TURKEY' 'NEW BRITAIN' 'SUDAN'
 'JOHNSTON ISLAND' 'Florida Strait' 'SOUTH PACIFIC OCEAN' 'NEW GUINEA'
 'RED SEA' 'NORTH PACIFIC OCEAN' 'FEDERATED STATES OF MICRONESIA'
 'MID ATLANTIC OCEAN' 'ADMIRALTY ISLANDS' 'BRITISH WEST INDIES'
 'SOUTH ATLANTIC OCEAN' 'PERSIAN GULF' 'RED SEA / INDIAN OCEAN'
 'PACIFIC OCEAN' 'NORTH SEA' 'Between Timor & Darwin, Australia'
 'NICARAGUA ' 'MALDIVE ISLANDS' 'AMERICAN SAMOA'
 'ANDAMAN / NICOBAR ISLANDAS' 'GABON' 'Near the Andaman & Nicobar Islands'
 'MAYOTTE' 'Between Comores & Madagascar' 'NORTH ATLANTIC OCEAN '
 'SINGAPORE' 'THE BALKANS' 'SUDAN?' 'ARGENTINA' 'MARTINIQUE'
 'INDIAN OCEAN' 'GUATEMALA' 'NETHERLANDS ANTILLES'
 'NORTHERN MARIANA ISLANDS' 'IRAN / IRAQ' 'JAVA' 'SIERRA LEONE'
 ' PHILIPPINES' '225 miles east of Hong Kong' 'NICARAGUA'
 'CENTRAL PACIFIC' 'SOLOMON ISLANDS / VANUATU' 'Off South American coast'
 'SOUTHWEST PACIFIC OCEAN' 'BAY OF BENGAL'
 '300 miles east of St. Thomas (Virgin Islands)' 'MID-PACIFC OCEAN'
 'SLOVENIA' 'CURACAO' 'ICELAND' 'ITALY / CROATIA' 'BARBADOS'
 'French Southern Territories' 'MONACO' 'GUYANA' 'HAITI' 'SAN DOMINGO'
 'IRELAND' 'KUWAIT' 'Near the equator' 'YEMEN ' 'REUNION ISLAND'
 'FALKLAND ISLANDS' 'CRETE' 'CYPRUS' 'EGYPT ' 'WEST INDIES'
 'Mediterranean Sea' 'BURMA' 'LEBANON' 'PARAGUAY' 'BRITISH NEW GUINEA'
 'CEYLON' 'Gulf of California' 'OCEAN' 'GEORGIA' 'Western Banks'
 'Santa Cruz' 'TUVALU' 'INDIAN OCEAN?' 'GUINEA' 'ANDAMAN ISLANDS'
 'EQUATORIAL GUINEA / CAMEROON' 'COOK ISLANDS' 'TOBAGO' 'PERU' 'AFRICA'
 'ALGERIA' 'Coast of AFRICA' 'TASMAN SEA' 'GHANA' 'St Helena' 'GREENLAND'
 'MEDITERRANEAN SEA' 'SWEDEN' 'Carlisle Bay' 'ROATAN'
 'Between PORTUGAL & INDIA' 'DJIBOUTI'
 'In a river feeding into the Bay of Bengal' 'BAHREIN' 'KOREA' 'RED SEA?'
 'ASIA?' 'CEYLON (SRI LANKA)']

In [42]:
df7['Country'] = df7['Country'].str.upper()
print(df7['Country'].unique())

['USA' 'AUSTRALIA' 'MEXICO' 'BRAZIL' 'ENGLAND' 'SOUTH AFRICA' 'THAILAND'
 'COSTA RICA' 'MALDIVES' 'BAHAMAS' 'NEW CALEDONIA' 'ECUADOR' 'MALAYSIA'
 'LIBYA' 'CUBA' 'MAURITIUS' 'NEW ZEALAND' 'SPAIN' 'SAMOA'
 'SOLOMON ISLANDS' 'JAPAN' 'EGYPT' 'ST HELENA, BRITISH OVERSEAS TERRITORY'
 'COMOROS' 'REUNION' 'FRENCH POLYNESIA' 'UNITED KINGDOM'
 'UNITED ARAB EMIRATES' 'PHILIPPINES' 'INDONESIA' 'CHINA' 'COLUMBIA'
 'CAPE VERDE' 'FIJI' 'DOMINICAN REPUBLIC' 'CAYMAN ISLANDS' 'ARUBA'
 'MOZAMBIQUE' 'PUERTO RICO' 'ITALY' 'ATLANTIC OCEAN' 'GREECE' 'ST. MARTIN'
 'FRANCE' 'PAPUA NEW GUINEA' 'TRINIDAD & TOBAGO' 'KIRIBATI' 'ISRAEL'
 'DIEGO GARCIA' 'TAIWAN' 'JAMAICA' 'PALESTINIAN TERRITORIES' 'GUAM'
 'SEYCHELLES' 'BELIZE' 'NIGERIA' 'TONGA' 'SCOTLAND' 'CANADA' 'CROATIA'
 'SAUDI ARABIA' 'CHILE' 'ANTIGUA' 'KENYA' 'RUSSIA' 'TURKS & CAICOS'
 'UNITED ARAB EMIRATES (UAE)' 'AZORES' 'SOUTH KOREA' 'MALTA' 'VIETNAM'
 'MADAGASCAR' 'PANAMA' 'SOMALIA' 'NEVIS' 'BRITISH VIRGIN ISLANDS' 'NORWAY'
 'SENEGAL' 'YEMEN' 'GULF OF ADEN' 'SIERRA LEONE' 'ST. MAARTIN'
 'GRAND CAYMAN' 'LIBERIA' 'VANUATU' 'MEXICO ' 'HONDURAS' 'VENEZUELA'
 'SRI LANKA' ' TONGA' 'URUGUAY' 'INDIA' 'MICRONESIA' 'CARIBBEAN SEA'
 'OKINAWA' 'TANZANIA' 'MARSHALL ISLANDS' 'EGYPT / ISRAEL'
 'NORTHERN ARABIAN SEA' 'HONG KONG' 'EL SALVADOR' 'ANGOLA' 'BERMUDA'
 'MONTENEGRO' 'IRAN' 'ENGLISH CHANNEL' 'TUNISIA' 'NAMIBIA'
 'NORTH ATLANTIC OCEAN' 'PORTUGAL' 'SOUTH CHINA SEA' 'BANGLADESH' 'PALAU'
 'WESTERN SAMOA' 'PACIFIC OCEAN ' 'BRITISH ISLES' 'GRENADA' 'IRAQ'
 'TURKEY' 'NEW BRITAIN' 'SUDAN' 'JOHNSTON ISLAND' 'FLORIDA STRAIT'
 'SOUTH PACIFIC OCEAN' 'NEW GUINEA' 'RED SEA' 'NORTH PACIFIC OCEAN'
 'FEDERATED STATES OF MICRONESIA' 'MID ATLANTIC OCEAN' 'ADMIRALTY ISLANDS'
 'BRITISH WEST INDIES' 'SOUTH ATLANTIC OCEAN' 'PERSIAN GULF'
 'RED SEA / INDIAN OCEAN' 'PACIFIC OCEAN' 'NORTH SEA'
 'BETWEEN TIMOR & DARWIN, AUSTRALIA' 'NICARAGUA ' 'MALDIVE ISLANDS'
 'AMERICAN SAMOA' 'ANDAMAN / NICOBAR ISLANDAS' 'GABON'
 'NEAR THE ANDAMAN & NICOBAR ISLANDS' 'MAYOTTE'
 'BETWEEN COMORES & MADAGASCAR' 'NORTH ATLANTIC OCEAN ' 'SINGAPORE'
 'THE BALKANS' 'SUDAN?' 'ARGENTINA' 'MARTINIQUE' 'INDIAN OCEAN'
 'GUATEMALA' 'NETHERLANDS ANTILLES' 'NORTHERN MARIANA ISLANDS'
 'IRAN / IRAQ' 'JAVA' ' PHILIPPINES' '225 MILES EAST OF HONG KONG'
 'NICARAGUA' 'CENTRAL PACIFIC' 'SOLOMON ISLANDS / VANUATU'
 'OFF SOUTH AMERICAN COAST' 'SOUTHWEST PACIFIC OCEAN' 'BAY OF BENGAL'
 '300 MILES EAST OF ST. THOMAS (VIRGIN ISLANDS)' 'MID-PACIFC OCEAN'
 'SLOVENIA' 'CURACAO' 'ICELAND' 'ITALY / CROATIA' 'BARBADOS'
 'FRENCH SOUTHERN TERRITORIES' 'MONACO' 'GUYANA' 'HAITI' 'SAN DOMINGO'
 'IRELAND' 'KUWAIT' 'NEAR THE EQUATOR' 'YEMEN ' 'REUNION ISLAND'
 'FALKLAND ISLANDS' 'CRETE' 'CYPRUS' 'EGYPT ' 'WEST INDIES'
 'MEDITERRANEAN SEA' 'BURMA' 'LEBANON' 'PARAGUAY' 'BRITISH NEW GUINEA'
 'CEYLON' 'GULF OF CALIFORNIA' 'OCEAN' 'GEORGIA' 'WESTERN BANKS'
 'SANTA CRUZ' 'TUVALU' 'INDIAN OCEAN?' 'GUINEA' 'ANDAMAN ISLANDS'
 'EQUATORIAL GUINEA / CAMEROON' 'COOK ISLANDS' 'TOBAGO' 'PERU' 'AFRICA'
 'ALGERIA' 'COAST OF AFRICA' 'TASMAN SEA' 'GHANA' 'ST HELENA' 'GREENLAND'
 'SWEDEN' 'CARLISLE BAY' 'ROATAN' 'BETWEEN PORTUGAL & INDIA' 'DJIBOUTI'
 'IN A RIVER FEEDING INTO THE BAY OF BENGAL' 'BAHREIN' 'KOREA' 'RED SEA?'
 'ASIA?' 'CEYLON (SRI LANKA)']

Now: 
1. we are going to create a new Column "Ocean" in order to assign each country to an ocean.
2. create different lists with the Oceans of each country (list provided from external source)

In [43]:
oceans_country = {
    'north_atlantic': ['SENEGAL', 'GUINEA', 'COLUMBIA', 'USA', 'SCOTLAND', 'LIBERIA', 'MEXICO', 'VENEZUELA', 'OKINAWA', 'CAPE VERDE', 'BAHAMAS', 'CANADA', 'DENMARK', 'FAROE ISLANDS', 'GREENLAND', 'ICELAND', 'IRELAND', 'NORWAY', 'PORTUGAL', 'SPAIN', 'UNITED KINGDOM', 'ENGLAND', 'USA', 'BELGIUM', 'FRANCE', 'GERMANY', 'NETHERLANDS'],
    'south_atlantic': ['ANGOLA', 'NIGERIA', 'AZORES', 'NAMIBIA', 'ARGENTINA', 'BRAZIL', 'FALKLAND ISLANDS', 'GABON', 'NAMIBIA', 'SOUTH AFRICA', 'ST HELENA, BRITISH OVERSEAS TERRITORY', 'URUGUAY', 'ASCENSION ISLAND', 'BOUVET ISLAND', 'SOUTH GEORGIA AND THE SOUTH SANDWICH ISLANDS', 'TRISTAN DA CUNHA'],
    'south_pacific': ['AUSTRALIA', 'NEW BRITAIN', 'NEW GUINEA', 'SAMOA', 'NEW CALEDONIA', 'CHILE', 'NEW ZEALAND', 'PAPUA NEW GUINEA', 'JOHNSTON ISLAND', 'SOLOMON ISLANDS', 'SOLOMON ISLANDS / VANUATU', 'COOK ISLANDS', 'EASTER ISLAND', 'FIJI', 'FRENCH POLYNESIA', 'KIRIBATI', 'NAURU', 'NIUE', 'NORFOLK ISLAND', 'PALAU', 'PAPUA NEW GUINEA', 'PITCAIRN ISLANDS', 'SOLOMON', 'TOKELAU', 'TONGA', 'TUVALU', 'VANUATU', 'AMERICAN SAMOA', 'CHRISTMAS ISLAND', 'COCOS (KEELING) ISLANDS', 'CORAL SEA ISLANDS', 'FEDERATED STATES OF MICRONESIA', 'FRENCH SOUTHERN AND ANTARCTIC LANDS', 'GUAM', 'HEARD ISLAND AND MCDONALD ISLANDS', 'MARSHALL ISLANDS', 'MIDWAY ISLANDS', 'NEW CALEDONIA', 'NIUE', 'NORFOLK ISLAND', 'NORTH KOREA', 'NORTHERN MARIANA ISLANDS', 'PALMYRA ATOLL', 'PAPUA NEW GUINEA', 'PITCAIRN ISLANDS', 'TIMOR-LESTE', 'TUVALU', 'WALLIS AND FUTUNA'],
    'north_pacific': ['CANADA', 'SIERRA LEONE', 'VIETNAM', 'SINGAPORE', 'SCOTLAND,', 'CHINA', 'JAPAN', 'RUSSIA', 'CAMBODIA', 'CHILE', 'COLOMBIA', 'COSTA RICA', 'ECUADOR', 'EL SALVADOR', 'GUATEMALA', 'HONDURAS', 'INDONESIA', 'KIRIBATI', 'NORTH KOREA'],
    'indian_ocean': ['REUNION', 'KENYA', 'TANZANIA', 'MALDIVE ISLANDS', 'MADAGASCAR', 'COMOROS', 'MOZAMBIQUE', 'SOUTH AFRICA','MALDIVES', 'MAURITIUS', 'SOMALIA', 'SEYCHELLES', 'SRI LANKA', 'TANZANIA', 'MALAYSIA', 'MADAGASCAR'],
    'mediterranean_sea': ['SPAIN', 'CRETE','ITALY', 'GREECE','MALTA', 'TUNISIA','TURKEY','LIBYA','LEBANON'],
    'red_sea': ['ISRAEL','YEMEN', 'EGYPT','SUDAN'],
    'caribbean_sea': ['PUERTO RICO', 'HAITI','GRENADA','BARBADOS','ARUBA', 'ANTIGUA','NICARAGUA', 'ST. MAARTIN', 'CUBA', 'TRINIDAD & TOBAGO', 'JAMAICA', 'CAYMAN ISLANDS', 'BRITISH VIRGIN ISLANDS', 'GRAND CAYMAN', 'COLOMBIA', 'DOMINICAN REPUBLIC', 'BELIZE', 'TURKS & CAICOS','BERMUDA'],
    'adriatic_sea': ['MONTENEGRO', 'CROATIA'],
    'south_china_sea': ['CHINA','HONG KONG'],
    'persian_golf': ['UNITED ARAB EMIRATES','UNITED ARAB EMIRATES (UAE)','IRAQ','IRAN', 'SAUDI ARABIA', 'BAHREIN'],
    'bay_bengal_andaman_sea': ['BURMA','MYANMAR','SRI LANKA', 'INDIA']
}

In [44]:
def add_ocean_to_df(df, oceans_country):
    for ocean_name, ocean_countries in oceans_country.items():
        for Country in ocean_countries:
            df.loc[df['Country'] == Country, 'Oceans'] = df['Oceans'].apply(lambda x: f'{x}, {ocean_name}' if isinstance(x, str) else ocean_name)

In [46]:
add_ocean_to_df(df7, AUSTRALIA)

NameError: name 'AUSTRALIA' is not defined

In [ ]:
north_atlantic = ['SENEGAL','GUINEA', 'COLUMBIA', 'USA', 'SCOTLAND', 'LIBERIA', 'MEXICO', 'VENEZUELA', 'OKINAWA', 'CAPE VERDE', 'BAHAMAS','CANADA', 'DENMARK', 'FAROE ISLANDS', 'GREENLAND', 'ICELAND', 'IRELAND', 'NORWAY', 'PORTUGAL', 'SPAIN', 'UNITED KINGDOM', 'ENGLAND', 'USA', 'BELGIUM', 'FRANCE', 'GERMANY', 'NETHERLANDS']
south_atlantic = ['ANGOLA', 'NIGERIA', 'AZORES', 'NAMIBIA', 'ARGENTINA', 'BRAZIL', 'FALKLAND ISLANDS', 'GABON', 'NAMIBIA', 'SOUTH AFRICA', 'ST HELENA, BRITISH OVERSEAS TERRITORY', 'URUGUAY', 'ASCENSION ISLAND', 'BOUVET ISLAND', 'SOUTH GEORGIA AND THE SOUTH SANDWICH ISLANDS', 'TRISTAN DA CUNHA']
south_pacific = ['AUSTRALIA', 'NEW BRITAIN', 'NEW GUINEA','SAMOA','NEW CALEDONIA', 'CHILE', 'NEW ZEALAND','PAPUA NEW GUINEA','JOHNSTON ISLAND', 'SOLOMON ISLANDS', 'SOLOMON ISLANDS / VANUATU', 'COOK ISLANDS', 'EASTER ISLAND', 'FIJI', 'FRENCH POLYNESIA', 'KIRIBATI', 'NAURU', 'NIUE', 'NORFOLK ISLAND', 'PALAU', 'PAPUA NEW GUINEA', 'PITCAIRN ISLANDS', 'SOLOMON', 'TOKELAU', 'TONGA', 'TUVALU', 'VANUATU', 'AMERICAN SAMOA', 'CHRISTMAS ISLAND', 'COCOS (KEELING) ISLANDS', 'CORAL SEA ISLANDS', 'FEDERATED STATES OF MICRONESIA', 'FRENCH SOUTHERN AND ANTARCTIC LANDS', 'GUAM', 'HEARD ISLAND AND MCDONALD ISLANDS', 'MARSHALL ISLANDS', 'MIDWAY ISLANDS', 'NEW CALEDONIA', 'NIUE', 'NORFOLK ISLAND', 'NORTH KOREA', 'NORTHERN MARIANA ISLANDS', 'PALMYRA ATOLL', 'PAPUA NEW GUINEA', 'PITCAIRN ISLANDS', 'TIMOR-LESTE', 'TUVALU', 'WALLIS AND FUTUNA']
north_pacific = ['CANADA', 'SIERRA LEONE','VIETNAM', 'SINGAPORE', 'SCOTLAND,' 'CHINA', 'JAPAN', 'RUSSIA', 'CAMBODIA', 'CHILE', 'COLOMBIA', 'COSTA RICA', 'ECUADOR', 'EL SALVADOR', 'GUATEMALA', 'HONDURAS', 'INDONESIA', 'KIRIBATI', 'NORTH KOREA', 'SOUTH KOREA', 'MARSHALL ISLANDS', 'MICRONESIA', 'NICARAGUA', 'PALAU', 'PANAMA', 'PHILIPPINES', 'RUSSIA', 'TAIWAN', 'THAILAND']
indian_ocean= ['REUNION', 'KENYA', 'TANZANIA', 'MALDIVE ISLANDS', 'MADAGASCAR', 'COMOROS', 'MOZAMBIQUE', 'SOUTH AFRICA','MALDIVES', 'MAURITIUS', 'SOMALIA', 'SEYCHELLES', 'SRI LANKA', 'TANZANIA', 'MALAYSIA', 'MADAGASCAR']
mediterranean_sea=['SPAIN', 'CRETE','ITALY', 'GREECE','MALTA', 'TUNISIA','TURKEY','LIBYA','LEBANON']
red_sea=['ISRAEL','YEMEN', 'EGYPT','SUDAN']
caribbean_sea=['PUERTO RICO', 'HAITI','GRENADA','BARBADOS','ARUBA', 'ANTIGUA','NICARAGUA', 'ST. MAARTIN', 'CUBA', 'TRINIDAD & TOBAGO', 'JAMAICA', 'CAYMAN ISLANDS', 'BRITISH VIRGIN ISLANDS', 'GRAND CAYMAN', 'COLOMBIA', 'DOMINICAN REPUBLIC', 'BELIZE', 'TURKS & CAICOS','BERMUDA']
adriatic_sea=['MONTENEGRO', 'CROATIA']
south_china_sea=['CHINA','HONG KONG']
persian_golf=['UNITED ARAB EMIRATES','UNITED ARAB EMIRATES (UAE)','IRAQ','IRAN', 'SAUDI ARABIA']
Bay_bengal_andaman_sea=['BURMA','MYANMAR','SRI LANKA', 'INDIA']

In [ ]:
df7.insert(5, "Oceans", "")

In [ ]:
for index, row in df7.iterrows():
    if row['Country'] in north_atlantic:
        df7.at[index, 'Oceans'] = 'North_Atlantic'

In [ ]:
for index, row in df7.iterrows():
    if row['Country'] in south_atlantic:
        df7.at[index, 'Oceans'] = 'South_Atlantic'

In [ ]:
for index, row in df7.iterrows():
    if row['Country'] in north_pacific:
        df7.at[index, 'Oceans'] = 'North_Pacific'

In [ ]:
for index, row in df7.iterrows():
    if row['Country'] in south_pacific:
        df7.at[index, 'Oceans'] = 'South_pacific'

In [ ]:
for index, row in df7.iterrows():
    if row['Country'] in mediterranean_sea:
        df7.at[index, 'Oceans'] = 'Mediterranean_Sea'

In [ ]:
for index, row in df7.iterrows():
    if row['Country'] in caribbean_sea:
        df7.at[index, 'Oceans'] = 'Caribbean_Sea'

In [ ]:
for index, row in df7.iterrows():
    if row['Country'] in Bay_bengal_andaman_sea:
        df7.at[index, 'Oceans'] = 'Bay_bengal_andaman_sea'

In [ ]:
for index, row in df7.iterrows():
    if row['Country'] in red_sea:
        df7.at[index, 'Oceans'] = 'Red_Sea'

In [ ]:
for index, row in df7.iterrows():
    if row['Country'] in indian_ocean:
        df7.at[index, 'Oceans'] = 'Indian_Ocean'

In [ ]:
for index, row in df7.iterrows():
    if row['Country'] in south_china_sea:
        df7.at[index, 'Oceans'] = 'South_China_Sea'

In [ ]:
for index, row in df7.iterrows():
    if row['Country'] in persian_golf:
        df7.at[index, 'Oceans'] = 'persian_golf'

In [ ]:
for index, row in df7.iterrows():
    if row['Country'] in adriatic_sea:
        df7.at[index, 'Oceans'] = 'Adriatic_Sea'
df7

In [ ]:
num_nullsoceans = df7['Oceans'].isna().sum() + df7['Oceans'].eq('').sum()
num_nullsoceans

In [ ]:
pd.set_option('display.max_rows', 30)
# create a boolean mask for null or empty 'Oceans' column
mask = df7['Oceans'].isnull() | df7['Oceans'].eq('')
# filter the rows using the mask and select the 'Country' column
countries_with_null_ocean = df7.loc[mask, 'Country']
print(countries_with_null_ocean)

In [ ]:
df_countries_with_null_ocean = pd.DataFrame({'Country': countries_with_null_ocean})
df_countries_with_null_ocean = df_countries_with_null_ocean.reset_index(drop=True)
from IPython.display import display, HTML
display(HTML(df_countries_with_null_ocean.to_html(index=False)))

In [ ]:
ocean_rows = df7['Country'].str.contains('OCEAN')
ocean_names = df7.loc[ocean_rows, 'Country'].str.extract(r'(\w+\sOCEAN)')
df7.loc[ocean_rows, 'Oceans'] = ocean_names.values

In [ ]:
ocean_nulls_count4 = df7['Oceans'].isna().sum()
ocean_nulls_count4

In [ ]:
df8 = df7.dropna(subset=['Oceans'])
ocean_nulls_count7 = df8['Oceans'].isna().sum()
ocean_nulls_count7

In [ ]:
df8['Oceans'].unique()

In [ ]:
ocean_dict = {
    'ATLANTIC OCEAN': 'North_Atlantic',
    'PACIFIC OCEAN': 'North_Pacific',
    'INDIAN OCEAN': 'Indian_Ocean',
    'PACIFC OCEAN': 'North_Pacific'}
df8['Oceans'] = df8['Oceans'].replace(ocean_dict)
df8['Oceans'].unique()

In [ ]:
df8.Oceans.value_counts()

In [ ]:
df8['Country'].unique()

In [ ]:
countries_counts= {}
for i,x in df8['Oceans'].value_counts().items():
    countries_counts[i]=x
countries_counts

In [ ]:
no_ocean_applied=df8['Oceans']==""
df8=df8.drop(df8[no_ocean_applied].index)

In [ ]:
countries_counts= {}
for i,x in df8['Oceans'].value_counts().items():
    countries_counts[i]=x
countries_counts

# 5. TIME - CLEANING DATA

- First, we are going to clean the column year to remove all the null values in year as we are not consider the ones empty.
As we we are going to considerer null values all the values that ar enot real years as "0, 5, 77, 500".
We are going to use a function that removes all the values in Year that does not contain 4 digits
Verify from which year are more attacks reported. With this assumption we check if before 80', maybe, many cases were not reported. With this we will have more accurate data about which is the ocean with more attacaks ommiting data that can make out data scatter- '

In [ ]:
df8['Time'].unique()

In [ ]:
n_nulls_years = df8['Time'].isnull().sum()
print(n_nulls_years)

Even there are more than 50% null vallues, we will clean the data to analyze when it's more likely to have an attack: at sunrise time, morning, afternoon or night.

In [ ]:
df9 = df8.dropna(subset=["Time"])
df9

In [ ]:
df9['Cleaned_Time'] = df9['Time'].str.extract(r'^(\d+)h')
df9

In [ ]:
# update the 'Time' column with values from 'Cleaned_Time'
df9.loc[df9['Cleaned_Time'].str.contains(r'^\d{2}$') & df9['Cleaned_Time'].notnull(), 'Time'] = df9['Cleaned_Time']
subset = df9.loc[:, ['Time', 'Cleaned_Time']]
subset

In [ ]:
print(df9['Time'].unique()) # verifying the extraction

In [ ]:
timewords =df9['Time'].str.contains(r'[a-zA-Z].*[a-zA-Z]')
pd.set_option('display.max_rows', None)
print(df9.loc[timewords, 'Time'])

In [ ]:
df9['time frame'] = df9['Time'].str.extract(r'([a-zA-Z]{2,})').fillna('') #matches any sequence of 2 or more consecutive letters

In [ ]:
def set_time_frame(time):
    time = int(time)
    if 6 <= time <= 9:
        return 'Sunrise'
    elif 10 <= time <= 13:
        return 'Morning'
    elif 14 <= time <= 18:
        return 'Afternoon'
    else:
        return 'Night'

df9['Cleaned_Time'] = df9['Cleaned_Time'].fillna(0).astype(int)
df9['Time frame'] = df9['Cleaned_Time'].apply(set_time_frame)

In [ ]:
n_nulls_timeframe = df9['Time frame'].isnull().sum()
print(n_nulls_timeframe)

# 6. VISUALIZATION

Hereby we will fid the visualization the maritime area with more attacks from the 50':

In [ ]:
sns.set_style("whitegrid")
sns.set_palette("pastel")
df_filtered = df8[(df8['Year'] >= 1950) & (df8['Year'] <= 2020)]
df_filtered["Oceans"].value_counts().plot(kind="bar", title="Attacks from 1950 - 2018")
plt.xticks(rotation=90, fontsize=10)
plt.ylabel("Cases")
plt.show()

In [ ]:
sns.set_style("whitegrid")
sns.set_palette("pastel")
oceans_to_include = ["North_Atlantic", "South_pacific", "Indian_Ocean"]
df_filtered = df8[(df8['Year'] >= 1950) & (df8['Year'] <= 2018) & df8['Oceans'].isin(oceans_to_include)]
top_countries = df_filtered.groupby('Oceans')['Country'].value_counts().groupby('Oceans').head(3).index.get_level_values('Country').tolist()
sns.countplot(x='Oceans', hue='Country', data=df_filtered[df_filtered['Country'].isin(top_countries)],width=1);

In [ ]:
sns.histplot(palette="mako", 
             x=df8[(df8.Oceans=="Noth_Atlantic")|(df8.Oceans=="South_Pacific")|(df8.Oceans=="Indian_Ocean")], 
             hue=df8[(df8.Country)].Country)

In [ ]:
import seaborn as sns

sns.set_style("whitegrid")
sns.set_palette("pastel")

oceans_to_include = ["North_Atlantic", "South_pacific", "Indian_Ocean"]
df_filtered = df8[(df8['Year'] >= 1950) & (df8['Year'] <= 2018) & df8['Oceans'].isin(oceans_to_include)]
top_countries = df_filtered.groupby('Oceans')['Country'].value_counts().groupby('Oceans').head(3).index.get_level_values('Country').tolist()

sns.displot(data=df_filtered[df_filtered['Country'].isin(top_countries)], x='Oceans', hue='Country', multiple='stack', kde=False, stat='density', element='step', linewidth=1);

In [ ]:
import seaborn as sns

sns.set_style("whitegrid")

oceans_to_include = ["North_Atlantic", "South_pacific", "Indian_Ocean"]
df_filtered = df8[(df8['Year'] >= 1950) & (df8['Year'] <= 2018) & df8['Oceans'].isin(oceans_to_include)]
top_countries = df_filtered.groupby('Oceans')['Country'].value_counts().groupby('Oceans').head(3).index.get_level_values('Country').tolist()

sns.countplot(x='Oceans', hue='Country', data=df_filtered[df_filtered['Country'].isin(top_countries)], palette="mako");

In [ ]:
sns.set_style("whitegrid")
sns.set_palette("pastel")
df_filtered2 = df9[(df9['Year'] >= 1950) & (df9['Year'] <= 2018)]
df_filtered2["Time frame"].value_counts().plot(kind="bar", title="Time frame Attacks from 1950 - 2018")
plt.xticks(rotation=45, fontsize=10)
plt.ylabel("Cases")
plt.show()

In [ ]:
sns.set_style("whitegrid")
sns.set_palette("pastel")
df_filtered = df8[(df8['Year'] >= 2005) & (df8['Year'] <= 2020)]
df_filtered["Oceans"].value_counts().plot(kind="bar", title="Attacks from 2005 - 2018")
plt.xticks(rotation=90, fontsize=7)
plt.ylabel("Cases")
plt.show()

In [ ]:
sns.set_style("whitegrid")
sns.set_palette("pastel")
oceans_to_include = ["North_Atlantic", "South_pacific", "Indian_Ocean"]
df_filtered = df8[(df8['Year'] >= 1950) & (df8['Year'] <= 2018) & df8['Oceans'].isin(oceans_to_include)]
top_countries = df_filtered.groupby('Oceans')['Country'].value_counts().groupby('Oceans').head(2).index.get_level_values('Country').tolist()
sns.countplot(x='Oceans', hue='Country', data=df_filtered[df_filtered['Country'].isin(top_countries)],width=0.8);